MONGODB_BACKUPS_PATH="/data/projects/${PROJECT_NAME}/databases/mongodb/backups"
MONGODB_EXPOSE_HOST='127.0.0.1'
MONGODB_EXPOSE_PORT=27017
MONGODB_FILES_PATH="/data/projects/${PROJECT_NAME}/databases/mongodb/data"
