# Base
PROJECT_NAME='kiki-core-stack'

# Dragonfly
DRAGONFLY_EXPOSE_HOST='127.0.0.1'
DRAGONFLY_EXPOSE_PORT=6379
DRAGONFLY_PASSWORD=''

# MongoDB
MONGODB_BACKUPS_PATH="/data/projects/${PROJECT_NAME}/databases/mongodb/backups"
MONGODB_EXPOSE_HOST='127.0.0.1'
MONGODB_EXPOSE_PORT=27017
MONGODB_FILES_PATH="/data/projects/${PROJECT_NAME}/databases/mongodb/data"

# Public
HOST_ADDRESS=''
