RABBITMQ_AMQP_EXPOSE_PORT=5672
RABBITMQ_EXPOSE_HOST='127.0.0.1'
RABBITMQ_FILES_PATH="/data/projects/${PROJECT_NAME}/message-brokers/rabbitmq/data"
RABBITMQ_MANAGEMENT_EXPOSE_PORT=15672
RABBITMQ_PASSWORD=''
RABBITMQ_USER='rabbitmq'
RABBITMQ_VHOST='/'
